---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={'Bits'} description={'...And Pieces'} />
	</head>
	<body>
		<Header />
		<main>
			<h1>...And Pieces</h1>
			<nav>
				<ul>
					<li>
						<!--TODO: move text more left, display content on click (fade in? something)-->
						<h3 class="category">Cubing <span class="arrow">&#x27a4;</span></a>
					</li>
					<li>
						<h3 class="category">Language <span class="arrow">&#x27a4;</span></a>
					</li>
					<li>
						<h3 class="category">Development <span class="arrow">&#x27a4;</span></a>
					</li>
				</ul>
			</nav>
		</main>
		<Footer />
	</body>
</html>

<style>
	nav ul {
		list-style-type: none;
		text-align: right;
	}
	nav {
		display: flex;
		justify-content: left;
	}

	.category {
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	.category:hover {
		color: var(--link);
		transition: 0.5s;
	}

	.arrow {
		display: inline-block;
		transform: rotate(-180deg);
	}
	
	.rotate {
		animation: flip 0.2s linear;
		animation-fill-mode: forwards;
	}

	.unrotate {
		animation: flip 0.2s reverse;
		animation-fill-mode: forwards;
	}

	@keyframes flip {
		0% {
			transform: rotate(-180deg);
		}
		50% {
			transform: rotate(-90deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>

<script>
	const categories = document.querySelectorAll('h3.category');
	const arrows = document.querySelectorAll('span.arrow');

	categories.forEach((category) => {
		category.addEventListener('click', () => {
			const arrow = category.querySelector('span.arrow');
			arrows.forEach((a) => {
				if (a.classList.contains("rotate") && a != arrow) {
					a.classList.remove("rotate");
					a.clientHeight;
					a.classList.add("unrotate");
				}
			})

			arrow?.classList.remove("unrotate");
			arrow?.clientHeight;
			arrow?.classList.add("rotate");
		});
	});
</script>