---
//const today = new Date();
---

<footer>
	<div class="social-links">
		<a href="https://github.com/Aquarmity" target="_blank">
			<span class="sr-only">Aquarmity's GitHub Page</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg>
		</a>
		<a href="https://lucasericsson222.github.io/constellation/">
			<svg width="32" height="32" viewBox="0 0 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<path
					fill="currentColor" 
					d="M22.11,42.425L25.842,32.244L21.199,29.503L16.556,32.244L20.287,42.425L22.11,42.425ZM28.607,21.143L26.958,26.791L21.199,28.513L15.507,26.811L12.972,33.593L8.944,33.362L8.713,29.333L15.483,26.803L15.44,26.791L13.791,21.143L13.764,21.143L13.777,21.098L13.764,21.052L13.791,21.052L15.44,15.405L21.199,13.682L26.958,15.405L28.607,21.052L28.633,21.052L28.62,21.098L28.633,21.143L28.607,21.143ZM33.585,33.362L29.557,33.593L27.015,26.792L33.816,29.333L33.585,33.362ZM0,20.231L10.182,16.5L12.922,21.143L10.182,25.786L0,22.055L0,20.231ZM42.523,21.964L32.342,25.695L29.601,21.052L32.342,16.409L42.523,20.14L42.523,21.964ZM13.724,21.097L13.738,21.143L13.711,21.143L13.724,21.097ZM13.738,21.052L13.724,21.097L13.711,21.052L13.738,21.052ZM8.699,8.89L12.727,8.659L15.268,15.46L8.467,12.918L8.699,8.89ZM33.585,8.89L33.816,12.918L27.015,15.46L29.557,8.659L33.585,8.89ZM22.084,0L25.815,10.182L21.172,12.922L16.529,10.182L20.26,0L22.084,0Z"/>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	svg {
		color: var(--gray);
	}
</style>
