---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/bits">Bits</HeaderLink>
			<HeaderLink href="/lyricwall">Lyricwall</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--purple);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--gray);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--gray);
	}
</style>
