---
import { getCollection, getEntry } from 'astro:content';
const {lyric, song, color, link} = Astro.props;
---

<p><a href={`/lyricwall/${link}/`}>{lyric} &nbsp;</a></p>

<style define:vars={{ textColor: color }}>
    p, a {
        color: #ffffff;
        text-decoration: none;
        display: inline;
    }
    
    a:hover {
        color: var(--textColor);
        transition: 0.3s;
    }
</style>